.styles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 143px;
  border-radius: 9px;
  background: rgba(252, 252, 253);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  &__left {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #F5F5F6;
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;       
    padding-left: 17px; 
  }

  &__paragraph {
    color: #2e2727;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
  }

  &__item {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    > img {
      margin-right: 5px;
    }
    &--active {
      color: #F5F5F6;
      font-size: 16px;
      background-color: $color-accent;
      border-radius: 7px;
      box-shadow: 4px 4px 10px 0px rgba(64, 53, 53, 0.49) inset;
    }
    &--block {
      color: #C0C1C9;
    }
  }

  &__scroll {
    position: absolute;
    top: 54px;
    left: 179px;
  }
}
