.section {
  padding-top: 38px;
  padding-bottom: 25px;

  &_header {
    padding-top: 38px;
    padding-bottom: 41px;
    background-repeat: no-repeat;
    background-image: url("../../images/header/background.png");
    background-position: top;   
  }
}
