.section {
  padding-top: 38px;
  padding-bottom: 25px;

  &_header {
    padding-top: 38px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-image: url("../../images/header/background.png");
    background-position: top;
  }

  &_state {
    padding-bottom: 0;
  }

  &_hero {
    padding-top: 28px;
    padding-bottom: 0;
  }

  &_marketing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  &_styles {
    padding-top: 0;
    padding-bottom: 24px;
  }

  &_inspired {
    padding-top: 0;
    padding-bottom: 24px;
  }
}
